<% unless @flights.nil? %>
  <% if !@flights.empty? %>
    <%= simple_form_for :booking, url: new_booking_path, method: "GET", local: true do |f| %>
      <table class="table is-fullwidth has-background-info-light">
        <tbody>
          <% @flights.each do |flt| %>
            <tr class="has-text-centered"> 
              <td class="is-size-5">
                <%= flt.from_airport.apt_code %> – <%= flt.to_airport.apt_code %>
              </td>
              <td class="is-size-5">
                <%= flt.format_time(flt.start_time) %> – <%= flt.format_time(flt.end_time) %>
                <% if flt.start_time.to_date != flt.end_time.to_date %>
                  <sup class="is-size-7">+1</sup>
                <% end %>
              </td>
              <td class="is-size-5">
                <%= flt.formatted_duration %>
              </td>
              <td class="is-size-5">
                <div class="radio">
                  <%= f.radio_button :flight_id, flt.id %>
                </div>
              </td>
            </tr>            
          <% end %>
          <%= hidden_field_tag :num_tickets, params[:flight][:num_tickets] %>
        </tbody>
      </table>
      
      <div class="columns is-centered is-vcentered">
        <%= f.submit "Select Flight", class: "button is-info is-outlined is-active" %>
      </div>       
    <% end %>
  <% else %>
    <div class="subtitle is-4 mb-0">No flights found!</div>
  <% end %>
<% end %>
