<% unless notice.nil? %>
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h2 class="subtitle" id="notice">
          <%= notice %>
        </h2>
      </div>
    </div>
  </section>
<% end %>

<section class="section">
  <div class="container has-text-centered	">
    <%= image_tag("brand.png", class: "img-responsive", width: "300") %>
    <h2 class="subtitle">
      Book A Ticket & Just Leave.
    </h2>
  </div>
</section>

<section class="section columns is-centered">
  <div class="box column is-two-thirds">
    <%= render "search_form" %>
  </div>
</section>


<br>


<div> 
  <% unless @flights.nil? %>
    <% if !@flights.empty? %>
      <% @flights.each do |flt| %>
      <%= flt.from_airport.name %>, <%= flt.to_airport.name %>, <%= flt.start_time %>
      <hr>
      <% end %>
    <% else %>
      No flights found!
    <% end %>
    <%= hidden_field_tag :num_tickets, params[:flight][:num_tickets]%>
  <% end %>
</div>


