<% if flash[:notice] %>
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h2 class="subtitle" id="notice">
          <%= notice %>
        </h2>
      </div>
    </div>
  </section>
<% end %>

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
      <%= image_tag("brand.png", class: "img-responsive navbar-item", id: "navbar-logo", width: "200") %>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
</nav>

<h1>Flights</h1>

<%= simple_form_for :search, url: root_path, method: "GET", html: { class: "form-inline" } do |f| %>

  <div class="form-inputs">

    <%= f.input :from_airport_id, label: "From: ", wrapper: false do %>
      <%= f.select :from_airport_id, @airport_options, class: "form-control", wrapper: false %>
    <% end %>

    <%= f.input :to_airport_id, label: "To: " do %>
      <%= f.select :to_airport_id, @airport_options, class: "form-control" %>
    <% end %>

    <%= f.input :num_tickets, label: "No. of Passengers: ", wrapper: false do %>
       <%= f.select :num_tickets, 1..4, class: "form-control" %>
    <% end %>

    <%= f.input :start_time, as: :date, :order => [:month, :day, :year], label: "Date: ", wrapper: false do %>
       <%= f.select :start_time, @date_options, class: "form-control" %>
    <% end %>

  </div>

  <%= f.submit "Search" %>
  
<% end %>

<br>

<div> 
  <% @flights.each do |flt| %>
    <%= flt.from_airport.name %>, <%= flt.to_airport.name %>, <%= flt.start_time %>
    <hr>
  <% end %>
</div>

