<% unless notice.nil? %>
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h2 class="subtitle" id="notice">
          <%= notice %>
        </h2>
      </div>
    </div>
  </section>
<% end %>

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to root_path, class: 'navbar-item' do %>
      <%= image_tag("brand.png", class: "img-responsive", id: "navbar-logo", width: "150") %>
    <% end %>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
</nav>

<section class="section">
  <div class="container has-text-centered	">
    <h1 class="title">Flights</h1>
    <h2 class="subtitle">
      Book A Ticket & Just Leave.
    </h2>
  </div>
</section>

<section class="section columns is-centered">
  <div class="box column is-two-thirds">
    <%= render "form" %>
  </div>
</section>


<br>


<div> 
  <% unless @flights.nil? %>
    <% if !@flights.empty? %>
      <% @flights.each do |flt| %>
      <%= flt.from_airport.name %>, <%= flt.to_airport.name %>, <%= flt.start_time %>
      <hr>
      <% end %>
    <% else %>
      No flights found!
    <% end %>
    <%= hidden_field_tag :num_tickets, params[:flight][:num_tickets]%>
  <% end %>
</div>


